.home {
    height: 100vh;
    background-color: #ffffff;
    color: #fff;

    .home-shadow {
        font-family: 'Libre Franklin', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        

        .home-title {
            font-weight: 900;
            font-size: 42px;
            color: #32374B;
        }

    }

    &-link {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .home-more {
        position: relative;
        bottom: 0;
        color: #32374B;
     }
}